.box{
  /*height: 500px;*/
  background-color: lightgray;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 20px;
  padding-bottom: 20px;
  display: block;
  width: 80%;
  margin-left: 0%;
  margin-right: 0%;
  margin-top: 20px;
  margin-bottom: 0;
}

header{
  color: red;
}

@keyframes titleEnlarge {
  from {font-size: 2em}
  to {font-size: 2.2em}
}

.box:hover .title{
  animation-name: titleEnlarge;
  animation-duration: 2s;
  font-size: 2.2em;
}

.box .title a{
  text-decoration: none;
  color: #8e1e00;
}

.box .title{
  width: 100%;
  font-size: 2em;
  display: block;
  text-align: center;
}

.box .titler a{
  text-decoration: none;
  color: #8e1e00;
}

.box .titler{
  width: 100%;
  font-size: 2em;
  display: block;
  text-align: center;
}


.blurb{
  background-color: #010a63;
  color: white;
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 20px;
  padding-bottom: 20px;

}

.LearnMore{
  /*float: right;
  background-color: #8e1e00;
  border-radius: 5px;
  border: none;*/
  color: #7fa7ff;
  text-decoration: none;
}
