#helpBar{
  padding: 30px;
  background-color: rgba(38,38,38,1);
  color:white;
  font-family: 'Raleway', sans-serif;
  font-size: 1.2em;
  padding: 15px;
  padding-left: 20px;
  position: fixed;
  bottom: -5px;
  width: 100%;
}
