@import "navBar.css";
body{
  margin:0px;
  padding:0px;
}
.top{
  background: url("pics/Band.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-size: cover;
  margin: 0px;
  padding: 0px;
}
#bandName{
  position: relative;
  text-align: center;
  color: white;
  font-size:3.5em;
  font-family: 'Montserrat', sans-serif;
  padding-top:2.5em;
  padding-bottom:20%;
}


.contents{
  padding: 30px;
  background-color: rgba(0,0,0,1);
  color:white;
  font-family: 'Raleway', sans-serif;
  font-size: 1.2em;
  padding-left: 10px;
}
