html{
  background: url("pics/Band.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-size: cover;
}
#bandName{
  position: relative;
  text-align: center;
  color: white;
  font-size:3.5em;
  font-family: 'Montserrat', sans-serif;
  padding-top:2.5em;
  padding-bottom:20%;
}
nav{
  text-align: center;
  font-size: 1.5em;
  padding-top: .7em;
}
nav li{
  display: inline;
}
nav li a{
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: white;
  padding: 15px;
}
nav li a:hover{
  text-decoration: underline;
}
nav .homeLink{
  font-weight: 700;
}

.contents{
  background-color: rgba(0,0,0,1);
}
