nav{
  text-align: center;
  font-size: 1.5em;
  padding-top: .7em;
}
nav li{
  display: inline;
}
nav li a{
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: white;
  padding: 15px;
}
nav li a:hover{
  text-decoration: underline;
}
