html{
  background: url("pics/Baroque Pattern.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-size: cover;
}
#bandName{
  position: relative;
  text-align: center;
  color: white;
  font-size:2.5em;
  font-family: 'Montserrat', sans-serif;
  padding-top:1.5em;
}
#navBar{
  text-align: center;
  font-size: 1.5em;
  padding-top: .7em;
}
#navBar  li{
  display: inline;
}
#navBar li a{
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: white;
  padding: 15px;
}
#navBar .homeLink{
  font-weight: 700;
}
#description{
  color:white;
  font-family: 'Raleway', sans-serif;
  font-size: 1.2em;
  padding-left: 10px;
}

.title{
  position: relative;
  text-align: center;
  color: white;
  font-size:2em;
  font-family: 'Montserrat', sans-serif;
  padding-top:.5em;
  padding: 10px;
}

.content{
  font-family: 'Montserrat', sans-serif;
  float:right;
  text-align: left;
  margin: 40px;
}
.rightCard{
  display: inline-block;
  position: relative;
  padding: 20px;
  height: 200px;
  width:40%;
}
.rightCard img{
  float:left;
  padding-right: 20px;
}
.rightCardTitle{
  font-size: 1.5em;
}
