@import "clusterPage.css";
#section1{
  background: url("../some pics/cutting_crafts.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-size: cover;
  height: 100%;
}
#half{
  background-color: rgba(51, 50, 50, 0.5);
  margin: 0px;
}

@media screen and (min-width: 800px) {
  #half{
    width: 100%;
    height: 92vh;
  }
