body{
  position: relative;
  margin: 0px;
  padding-bottom: 50px;
}
footer{
  padding: 30px;
  color:white;
  font-family: 'Raleway', sans-serif;
  font-size: 1.2em;
  padding: 1rem;
  padding-left: 20px;
  margin: 0px;
  background-color: rgba(38,38,38,1);
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  margin-top: 50px;

}
